<div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group" (ngSubmit)="handleLogin(form)">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <label for="email">User Name :</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="userModel.username" placeholder="Enter User Name"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="userModel.password" id="password" placeholder="Enter password"
              name="password">
          </div>
          <button  class="btn btn-success">Login</button>
          <li> <a class="nav-item nav-link" href="/register">Register</a></li>

        </form>
      </div>
    </div>
  </div>